:root{
  --bright-gray:#EBEBF0;
  --lavender-gray:#C1C1CB;
  --spanish-gray:#9494A0;
  --ghost-white:#F9FAFB;
  --police-blue:#424F5E;
  --medium-sea-green:#32C076;
  --very-light-blue:#5A57FF;
  --vivid-tangerine:#FF9E90;

  --color-bg-primary:var(--bright-gray);
  --color-bg-secondary:var(--ghost-white);

  --color-text-primary:var(--police-blue); 
  --color-text-secondary:var(--spanish-gray); 
  --color-text-tertiary:var(--ghost-white);

  --color-button-primary:var(--medium-sea-green);

  --color-border-primary:var(--lavender-gray);

  --size-radius-primary:15px;
  --size-radius-secondary:25px;
  --size-radius-tertiary:10px;
  
}

*{
  margin: 0;
  color: var(--color-text-primary); 
  font-family: Futura PT;
  cursor: url('assets/cursor.svg'), auto
}

body{
  background-color: var(--color-bg-primary);

}

img {
  border-radius: 100%;
  object-fit:cover;
 }

 button{
  background: none;
  border: none;
 }

